node_modules
**/bin/
**/obj/
package-lock.json
.vscode
.vs
.DS_Store
Build
ssh.env
ssh.*.env
updater_topcon.log
.idea
.vs
.env
*.dll
*.pdb
*.log
*.log.*
*.cache

appsettings.Development.json
appsettings.Production.json
appsettings.Development.*.json
appsettings.Production.*.json
yarn-error.log

Backend/build
Frontend/build
Automator/history